<html>
<head>
    <title></title>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}main.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">
</head>
<body>
    <div id="header">Examen 3 - Andrés Torres Marrroquín - 07120762</div>
    <div id="content">
        <div class="tweet">
            9 de Marzo de 2012 - Zombie Andres - <a href="#">X</a>
            <div class="text">
                Blah blah blah blah blah blah blah blah blah blah blah.
            </div>
        </div>
        <div class="tweet">
            9 de Marzo de 2012 - Zombie Juan - <a href="#">X</a>
            <div class="text">
                Blah blah blah blah blah blah blah blah blah blah blah.
            </div>
        </div>
        <div class="tweet">
            9 de Marzo de 2012 - Zombie Luis - <a href="#">X</a>
            <div class="text">
                Blah blah blah blah blah blah blah blah blah blah blah.
            </div>
        </div>
    </div>
    <div id="footer">9 de Marzo de 2012</div>
</body>
</html>